<a href="https://colab.research.google.com/github/nidhicodes4045/datascience442/blob/main/Dataset_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
print(os.getcwd())

/content

In [3]:
county_df = pd.read_csv("https://raw.githubusercontent.com/nidhicodes4045/datascience442/refs/heads/main/county_demographics_mod.csv")
food_df = pd.read_csv("https://raw.githubusercontent.com/nidhicodes4045/datascience442/refs/heads/main/Food_access_mod.csv")

In [4]:
county_df.head()

,County,State,Age.Percent 65 and Older,Age.Percent Under 18 Years,Age.Percent Under 5 Years,Education.Bachelor's Degree or Higher,Education.High School or Higher,Employment.Nonemployer Establishments,Ethnicities.American Indian and Alaska Native Alone,Ethnicities.Asian Alone,...,Population.Population per Square Mile,Sales.Accommodation and Food Services Sales,Sales.Retail Sales,Employment.Firms.Total,Employment.Firms.Women-Owned,Employment.Firms.Men-Owned,Employment.Firms.Minority-Owned,Employment.Firms.Nonminority-Owned,Employment.Firms.Veteran-Owned,Employment.Firms.Nonveteran-Owned
0,Abbeville County,SC,22.4,19.8,4.7,15.6,81.7,1416,0.3,0.4,...,51.8,12507,91371,1450,543,689,317,1080,187,1211
1,Acadia Parish,LA,15.8,25.8,6.9,13.3,79.0,4533,0.4,0.3,...,94.3,52706,602739,4664,1516,2629,705,3734,388,4007
2,Accomack County,VA,24.6,20.7,5.6,19.5,81.5,2387,0.7,0.8,...,73.8,53568,348195,2997,802,1716,335,2560,212,2536
3,Ada County,ID,14.9,23.2,5.6,38.5,95.2,41464,0.8,2.7,...,372.8,763099,5766679,41789,14661,19409,3099,36701,3803,35132
4,Adair County,IA,23.0,21.8,5.6,18.5,94.2,609,0.3,0.5,...,13.5,,63002,914,304,499,0,861,185,679

In [5]:
food_df.head()

,County,Population,State,Housing Data.Residing in Group Quarters,Housing Data.Total Housing Units,Vehicle Access.1 Mile,Vehicle Access.1/2 Mile,Vehicle Access.10 Miles,Vehicle Access.20 Miles,Low Access Numbers.Children.1 Mile,...,Low Access Numbers.Low Income People.10 Miles,Low Access Numbers.Low Income People.20 Miles,Low Access Numbers.People.1 Mile,Low Access Numbers.People.1/2 Mile,Low Access Numbers.People.10 Miles,Low Access Numbers.People.20 Miles,Low Access Numbers.Seniors.1 Mile,Low Access Numbers.Seniors.1/2 Mile,Low Access Numbers.Seniors.10 Miles,Low Access Numbers.Seniors.20 Miles
0,Autauga County,54571,Alabama,455,20221,834,1045,222.0,0,9973,...,2307,0,37424.0,49497,5119,0,4393,5935.0,707,0
1,Baldwin County,182265,Alabama,2307,73180,1653,2178,32.0,0,30633,...,846,0,132442.0,165616,2308,0,21828,27241.0,390,0
2,Barbour County,27457,Alabama,3193,9820,545,742,201.0,0,3701,...,2440,0,NaN,23762,4643,0,2537,3348.0,629,0
3,Bibb County,22915,Alabama,2224,7953,312,441,0.0,0,4198,...,102,0,17560.0,20989,365,0,2262,2630.0,72,0
4,Blount County,57322,Alabama,489,21578,752,822,0.0,0,12575,...,0,0,50848.0,54933,0,0,7114,7810.0,0,0

In [6]:
county_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3139 entries, 0 to 3138
Data columns (total 43 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   County                                                        3139 non-null   object
 1   State                                                         3139 non-null   object
 2   Age.Percent 65 and Older                                      3139 non-null   float64
 3   Age.Percent Under 18 Years                                    3139 non-null   object
 4   Age.Percent Under 5 Years                                     3139 non-null   object
 5   Education.Bachelor's Degree or Higher                         3139 non-null   float64
 6   Education.High School or Higher                               3139 non-null   float64
 7   Employment.Nonemployer Establishments                         3139 non-null   object
 8   Ethnicities.American Indian and Alaska Native Alone           3139 non-null   object
 9   Ethnicities.Asian Alone                                       3139 non-null   object
 10  Ethnicities.Black Alone                                       3139 non-null   object
 11  Ethnicities.Hispanic or Latino                                3139 non-null   float64
 12  Ethnicities.Native Hawaiian and Other Pacific Islander Alone  3139 non-null   object
 13  Ethnicities.Two or More Races                                 3139 non-null   object
 14  Ethnicities.White Alone                                       3139 non-null   float64
 15  Ethnicities.White Alone	 not Hispanic or Latino               3139 non-null   float64
 16  Housing.Homeownership Rate                                    3139 non-null   object
 17  Housing.Households                                            2900 non-null   float64
 18  Housing.Housing Units                                         3139 non-null   object
 19  Housing.Median Value of Owner-Occupied Units                  3139 non-null   object
 20  Housing.Persons per Household                                 3139 non-null   float64
 21  Income.Median Houseold Income                                 3139 non-null   int64
 22  Income.Per Capita Income                                      3139 non-null   int64
 23  Miscellaneous.Foreign Born                                    3139 non-null   float64
 24  Miscellaneous.Land Area                                       3139 non-null   float64
 25  Miscellaneous.Language Other than English at Home             3139 non-null   float64
 26  Miscellaneous.Living in Same House +1 Years                   3139 non-null   float64
 27  Miscellaneous.Manufacturers Shipments                         3139 non-null   object
 28  Miscellaneous.Mean Travel Time to Work                        3139 non-null   object
 29  Miscellaneous.Percent Female                                  3139 non-null   float64
 30  Miscellaneous.Veterans                                        3139 non-null   object
 31  Population.2020 Population                                    3139 non-null   int64
 32  Population.2010 Population                                    3139 non-null   int64
 33  Population.Population per Square Mile                         3139 non-null   float64
 34  Sales.Accommodation and Food Services Sales                   3139 non-null   object
 35  Sales.Retail Sales                                            3139 non-null   object
 36  Employment.Firms.Total                                        3139 non-null   int64
 37  Employment.Firms.Women-Owned                                  3139 non-null   int64
 38  Employment.Firms.Men-Owned                                    3139 non-null   int64
 39  Employment.Firms.Minority-Owned                               3139 non-null   object
 40  Employment.Firms.Nonminority-Owned                            3139 non-null   int64
 41  Employment.Firms.Veteran-Owned                                3139 non-null   int64
 42  Employment.Firms.Nonveteran-Owned                             3139 non-null   int64
dtypes: float64(14), int64(10), object(19)
memory usage: 1.0+ MB

In [7]:
food_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142 entries, 0 to 3141
Data columns (total 25 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   County                                         3142 non-null   object
 1   Population                                     3142 non-null   int64
 2   State                                          3142 non-null   object
 3   Housing Data.Residing in Group Quarters        3142 non-null   int64
 4   Housing Data.Total Housing Units               3142 non-null   int64
 5   Vehicle Access.1 Mile                          3142 non-null   int64
 6   Vehicle Access.1/2 Mile                        3142 non-null   int64
 7   Vehicle Access.10 Miles                        2807 non-null   float64
 8   Vehicle Access.20 Miles                        3142 non-null   int64
 9   Low Access Numbers.Children.1 Mile             3142 non-null   int64
 10  Low Access Numbers.Children.1/2 Mile           3142 non-null   int64
 11  Low Access Numbers.Children.10 Miles           3142 non-null   int64
 12  Low Access Numbers.Children.20 Miles           3142 non-null   int64
 13  Low Access Numbers.Low Income People.1 Mile    3142 non-null   int64
 14  Low Access Numbers.Low Income People.1/2 Mile  3142 non-null   int64
 15  Low Access Numbers.Low Income People.10 Miles  3142 non-null   int64
 16  Low Access Numbers.Low Income People.20 Miles  3142 non-null   int64
 17  Low Access Numbers.People.1 Mile               2986 non-null   float64
 18  Low Access Numbers.People.1/2 Mile             3142 non-null   int64
 19  Low Access Numbers.People.10 Miles             3142 non-null   int64
 20  Low Access Numbers.People.20 Miles             3142 non-null   int64
 21  Low Access Numbers.Seniors.1 Mile              3142 non-null   int64
 22  Low Access Numbers.Seniors.1/2 Mile            2484 non-null   float64
 23  Low Access Numbers.Seniors.10 Miles            3142 non-null   int64
 24  Low Access Numbers.Seniors.20 Miles            3142 non-null   int64
dtypes: float64(3), int64(20), object(2)
memory usage: 613.8+ KB

In [8]:
print(food_df.isnull().sum())

County                                             0
Population                                         0
State                                              0
Housing Data.Residing in Group Quarters            0
Housing Data.Total Housing Units                   0
Vehicle Access.1 Mile                              0
Vehicle Access.1/2 Mile                            0
Vehicle Access.10 Miles                          335
Vehicle Access.20 Miles                            0
Low Access Numbers.Children.1 Mile                 0
Low Access Numbers.Children.1/2 Mile               0
Low Access Numbers.Children.10 Miles               0
Low Access Numbers.Children.20 Miles               0
Low Access Numbers.Low Income People.1 Mile        0
Low Access Numbers.Low Income People.1/2 Mile      0
Low Access Numbers.Low Income People.10 Miles      0
Low Access Numbers.Low Income People.20 Miles      0
Low Access Numbers.People.1 Mile                 156
Low Access Numbers.People.1/2 Mile                 0
Low Access Numbers.People.10 Miles                 0
Low Access Numbers.People.20 Miles                 0
Low Access Numbers.Seniors.1 Mile                  0
Low Access Numbers.Seniors.1/2 Mile              658
Low Access Numbers.Seniors.10 Miles                0
Low Access Numbers.Seniors.20 Miles                0
dtype: int64

In [9]:
print(county_df.isnull().sum())

County                                                            0
State                                                             0
Age.Percent 65 and Older                                          0
Age.Percent Under 18 Years                                        0
Age.Percent Under 5 Years                                         0
Education.Bachelor's Degree or Higher                             0
Education.High School or Higher                                   0
Employment.Nonemployer Establishments                             0
Ethnicities.American Indian and Alaska Native Alone               0
Ethnicities.Asian Alone                                           0
Ethnicities.Black Alone                                           0
Ethnicities.Hispanic or Latino                                    0
Ethnicities.Native Hawaiian and Other Pacific Islander Alone      0
Ethnicities.Two or More Races                                     0
Ethnicities.White Alone                                           0
Ethnicities.White Alone\t not Hispanic or Latino                  0
Housing.Homeownership Rate                                        0
Housing.Households                                              239
Housing.Housing Units                                             0
Housing.Median Value of Owner-Occupied Units                      0
Housing.Persons per Household                                     0
Income.Median Houseold Income                                     0
Income.Per Capita Income                                          0
Miscellaneous.Foreign Born                                        0
Miscellaneous.Land Area                                           0
Miscellaneous.Language Other than English at Home                 0
Miscellaneous.Living in Same House +1 Years                       0
Miscellaneous.Manufacturers Shipments                             0
Miscellaneous.Mean Travel Time to Work                            0
Miscellaneous.Percent Female                                      0
Miscellaneous.Veterans                                            0
Population.2020 Population                                        0
Population.2010 Population                                        0
Population.Population per Square Mile                             0
Sales.Accommodation and Food Services Sales                       0
Sales.Retail Sales                                                0
Employment.Firms.Total                                            0
Employment.Firms.Women-Owned                                      0
Employment.Firms.Men-Owned                                        0
Employment.Firms.Minority-Owned                                   0
Employment.Firms.Nonminority-Owned                                0
Employment.Firms.Veteran-Owned                                    0
Employment.Firms.Nonveteran-Owned                                 0
dtype: int64